---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-3" title="About me">
	<div class="flex flex-col gap-2">
		<p class="text-sm font-light">
			Hello, I'm Ali, a seasoned full-stack software developer with over 7 years of experience specializing in software
			architecture design and the development of backend, web, and mobile applications.
		</p>
		<p class="text-sm font-light">
			My coding philosophy centres around producing clean, maintainable, and reliable code, with an emphasis on timely
			delivery. I thrive in dynamic environments, relish learning new technologies, and eagerly tackle challenging
			problems.
		</p>
		<p class="text-sm font-light">
			I am proud of my proficiency in navigating the intricacies of diverse technologies, and effectively leveraging the
			tools I'm provided. If you're seeking a versatile developer with a rich skill set and a proven track record of
			successful project delivery, I'd love to discuss how I can contribute to your success.
		</p>
	</div>
</Card>
